body {
    font-family: 'Patrick Hand', cursive; 
    background-color: #e0e0d1; 
    color: #333333; /* Dark gray */
}

header {
    background-color: #684a23; /* Brown */
    text-align: center;
    padding: 20px; 
}

.workshop-title {
    font-family: 'Cinzel', serif;
    color: #8c5926; /* Copper color */
}

#portal {
    width: 100px;
    margin-top: 10px; 
} 


#about {
    transform: rotate(-3deg); /* Tilt slightly to the left */
}

.project-grid .project-item {
    transform: rotate(2deg);  /* Tilt slightly to the right */ 
    margin: 15px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3); /* Adds a drop shadow effect */
}

#portal:hover {
    box-shadow: 0 0 20px rgba(102, 255, 255, 0.5); /* Example: Cyan glow */
}
